<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.Free.Final"
          android:versionCode="4"
          android:versionName="1.4">
    <uses-sdk android:minSdkVersion="14"
                android:targetSdkVersion="19"/>
    <application android:label="Canadian Geological and Financial" android:icon="@drawable/ic_launcher">
        <activity android:name=".MyActivity"
                  android:label="Canadian Geological and Financial">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
